:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
.popup{
  background-color: #f0a868;
  width: 450px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none;
  text-align: center;
}
.popup button{
  display: block;
  background-color: transparent;
  font-size: 30px;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup p{
  font-size: 14px;
  margin: 20px 0;
  line-height: 25px;
  text-align: center;
}
input{ 
border-color:black; 
}
.pButton{
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #0f72e5;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart-count {
  position: absolute; 
  left: 10px;
  top: 10px;
  align-items: center;
  color: black;
  font-size:15px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f0a868;;
  border-radius: 120px;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}
/* .hide {
  display: none;
} */
/* End cart icon styles */

/*Adding cart effect*/
.hidden {
  display: none;
  color: blue;
}
#cartMessage {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 1; 
}

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.product_price{
  color: red;
  display: inline;
  margin: 5px;
}

.product-card__disccount{
  font-weight: bold;
  margin: 10px;
}


.cart-card__image {
  grid-row: 1/4;
  grid-column: 1;
}
/* .cart-card p {
  margin-top: 0;
} */

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
  text-align: right;
}
.cart-card__remove {
  color: white;
  text-align: center;
  grid-row: 3;
  grid-column: 3;
  font-size: 1rem;
  background-color: red;
  margin: 5px;
  padding: 3px 2px;
  border-radius: 5px;
}
.cart-card__remove:hover {
  background-color: #303030;
  transition: background 0.5s;
}
.cart-card__price {
  grid-row: 2;
  grid-column: 3;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}

.cart-retail {
  font-style: italic;
}

.cart-discount {
  color: rgb(194, 24, 24);
  font-weight: bold;
  font-size: 1.3rem;
}

.cart-card__retail__price {
  grid-row: 2;
  grid-column: 2;
  text-align: right;
  color: red;
}

/*Icon styles*/
.icons{
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icons img{
  width: 100px;

}
.breadcrumb {
  /* background-color: #f8f9fa; */
  padding: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 5px; 
  width:60vw;
}

/* search button */
.searchBar {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
#search {
  padding: 8px;
  border: 2px solid;
  background-color: rgb(235, 235, 235);
  margin: 10px;
}
.searchBar button {
  margin: 10px;
  padding: 8px 10px;
  font-size: 1rem;
}

/* Large View */
@media screen and (max-width: 2000px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .product-detail img{
    /* border: 4px red solid;  */
    width:90%
  }
  .cart-card__disccount{
    display:block; 

  }

}
/* Medium View */

@media screen and (max-width: 1000px) {
  .product-detail img{
    /* border: 1px solid;  */
    max-width:75%; 

  }
  .cart-card__disccount{
    display:block; 

  }
  body {
    max-width: 1080px;
    margin: auto;
  }


}
/* Small View */

@media screen and (max-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
  .product-detail img{
    /* border: 5px green solid;  */
    max-width:45%; 
    margin-left:65px;  
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}




/* Styles for the footer */
#main-footer {
  background-color: #525C10;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Title footer */
.newsletter h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Description of Newsletter */
.newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Button and inputs*/
.newsletter .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.newsletter .subscribe-button {
  background-color: #ff5733;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Subsbscription style */
.newsletter p:last-child {
  margin-top: 20px;
  font-size: 14px;
}


/* Styles of modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Content modal style */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 70%;
  text-align: center;
  border-radius: 10px;
}

/* Style of button (X) */
.close {
  color: #555;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.close:hover {
  color: #000;
}


.product-images {
  display: flex;
  align-items: flex-start;
}

.main-product-image-container {
  margin-right: 5px; 
}

.main-product-image {
  max-width: 100%; 
  height: auto; 
}

.color-thumbnails-container {
  display: flex;
  flex-wrap: wrap;
}

.color-thumbnail {
  width: 80px; 
  height: 80px; 
  margin-right: 5px; 
  margin-bottom: 10px; 
  object-fit: contain; 
}


.button-container-comment {
  display: flex;
 
}

#dtext {
  margin-top: 20px;
}

.h4-comment {
  margin-top: 20px;
}

.comment-section,
.textbox {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.success-message {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
.success-message.show-success {
  opacity: 1;
}